<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            display: inline-block;
            width: 250px;
            height: 250px;
            padding: 5px;
            margin: 5px
        }
    </style>
</head>
<body>
    <span class = "box" style="background-color: rgb(230, 28, 62);"></span>
    <span class ="box" style="background-color: rgb(15, 37, 203);"></span>
    <span class ="box" style="background-color: rgb(20, 230, 16);"></span>
</body>
</html>